{% extends "layouts/base.html" %}

{% block content %}

    <h2>Editar solicitud {{ req.id }}</h2>
    <form action="" method="POST" class="req_form">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-6">
                {{ form.asunto.label_tag }}
                {{ form.asunto }}
            </div>
            <div class="form-group col-md-6">
                {{ form.cliente.label_tag }}
                {{ form.cliente }}
            </div>
        </div>
        <div class="form-group">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{ form.fecha_ocurrencia.label_tag }}
                {{ form.fecha_ocurrencia }}
            </div>        
            <div class="form-group col-md-6">
                {{ form.done.label_tag }}
                {{ form.done }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>

{% endblock %}